{{ define "main" }}
<div class="col-12 m-0 banner banner-1">
    <h1 class="text-center mt-3 text-white">Actualités</h1>
    <div class="row m-0 p-5">
        {{ range .Pages.ByPublishDate.Reverse }}
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card shadow-sm">
                {{ with .Resources.GetMatch "thumbnail" }}
                <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" class="img-fluid card-img-top">
                {{ end }}
                <div class="card-body p-4">
                    <h4 class="ml-1">{{ .Title }}</h4>
                    {{ partial "metadata.html" . }}
                    <p>{{ .Summary}}</p>
                    <div class="col-12"> 
                        <a href="{{ .RelPermalink }}" class="btn btn-outline-secondary w-100">Voir</a>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
<style type="text/css">
    .banner-1::before {
      background-image: url('/images/banner1.jpg');
      background-repeat: repeat-y;
      opacity: 0.7;
    }
</style>
{{end}}