{{ define "main" }}

      <div class="container col-12 banner banner-1">
        <div class="hero mx-5 my-3 p-4">
          <div class="row flex-lg-row-reverse align-items-top justify-content-center g-5 px-5 pt-5">
          	{{ with .Resources.GetMatch "thumbnail" }}
          	<div class="col-12 col-sm-10 col-lg-4 py-3 text-center">
                <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" class="d-block mx-lg-auto img-fluid" alt="Image du livre" loading="lazy">
	        </div>
            {{ end }}
            <div class="col-lg-8 py-3">
              <h1 class="display-5 fw-bold lh-1 mb-3">{{ .Title}}</h1>
              {{ .Content | safeHTML}}
            </div>
          </div>
        </div>
      </div>
<style type="text/css">
    .banner-1::before {
      background-image: url('/images/banner1.jpg');
      background-repeat: repeat-y;
      opacity: 0.7;
    }
</style>

{{ end }}